<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoooho.mall.mapper.SmsShopConfigMapper">
  <resultMap id="BaseResultMap" type="com.yoooho.mall.model.SmsShopConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="homeLandPage_id" jdbcType="BIGINT" property="homelandpageId" />
    <result column="start_using" jdbcType="BIT" property="startUsing" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, homeLandPage_id, start_using
  </sql>
  <select id="selectByExample" parameterType="com.yoooho.mall.model.SmsShopConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms_shop_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms_shop_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_shop_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yoooho.mall.model.SmsShopConfigExample">
    delete from sms_shop_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yoooho.mall.model.SmsShopConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_shop_config (homeLandPage_id, start_using)
    values (#{homelandpageId,jdbcType=BIGINT}, #{startUsing,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.yoooho.mall.model.SmsShopConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_shop_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="homelandpageId != null">
        homeLandPage_id,
      </if>
      <if test="startUsing != null">
        start_using,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="homelandpageId != null">
        #{homelandpageId,jdbcType=BIGINT},
      </if>
      <if test="startUsing != null">
        #{startUsing,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yoooho.mall.model.SmsShopConfigExample" resultType="java.lang.Long">
    select count(*) from sms_shop_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sms_shop_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.homelandpageId != null">
        homeLandPage_id = #{record.homelandpageId,jdbcType=BIGINT},
      </if>
      <if test="record.startUsing != null">
        start_using = #{record.startUsing,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sms_shop_config
    set id = #{record.id,jdbcType=BIGINT},
      homeLandPage_id = #{record.homelandpageId,jdbcType=BIGINT},
      start_using = #{record.startUsing,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoooho.mall.model.SmsShopConfig">
    update sms_shop_config
    <set>
      <if test="homelandpageId != null">
        homeLandPage_id = #{homelandpageId,jdbcType=BIGINT},
      </if>
      <if test="startUsing != null">
        start_using = #{startUsing,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoooho.mall.model.SmsShopConfig">
    update sms_shop_config
    set homeLandPage_id = #{homelandpageId,jdbcType=BIGINT},
      start_using = #{startUsing,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>